body {
    box-sizing: border-box;
    margin: 0;
}

/* Typography */

h2 {
    font-family: "Noto Sans Display", sans-serif;
}

h3 {
    font-size: 2rem;
    color: rgb(63, 63, 63);
    font-weight: lighter;
    font-family: "Noto Sans Display", sans-serif;
}

p {
    font-family: "Montserrat", sans-serif;
}

/* Header */
header {
    height: 7rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo>img {
    height: 6rem;
}

/* Banner */
.banner {
    background-image: url("banner-2.jpg");
    height: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

.banner-text {
    display: flex;
    padding-top: 10rem;
    font-size: 2rem;
    text-align: center;
    color: white;
}

/* Search for Plants via Card */

.selection-container {
    display: flex;
    padding: 2rem 0;
    justify-content: space-evenly;
}

.card>img {
    width: 20rem;
}

.plant-selection>h3 {
    padding-top: 4rem;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid gray;
    padding: 0.5rem;
    border-style: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card:hover>p {
    font-weight: bold;
}

