body {
    box-sizing: border-box;
    margin: 0;
}

header {
    height: 7rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo>img {
    height: 6rem;
}

.banner {
    background-image: url("banner-2.jpg");
    height: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

.banner-text {
    display: flex;
    padding-top: 10rem;
    font-size: 2rem;
    text-align: center;
    color: white;
}